.info{
    font-size: 80%;
    text-align: center;
}
.cont{
    padding: inherit;
    margin: inherit;
}
.list{
    padding: inherit;
    margin: inherit;
}
.col{
    width: fit-content !important;
}
.button{
    width: 90%;
    font-size: 60%;
    margin: auto;
}
.tot{
    font-size: 80%;
    float: right;
}
.c{
    width: 90%;
    text-align: center;
    margin: auto;
    font-size: 80%;
}
.but{
    width: 10%;
    margin-right: 10%;
}